<html>
<body>
  <p> Hi there <%= data["name"] %>, </p>

  <p> I hope you're doing well! Would you have some time this week to setup a scoping call?

  <p> <%= self.identity[:signature] %> </p>

  <br>

  <img width="100" src="//<%= data["ip"] %>/<%= data["share"] %>/<%= data["filename"] %>">
</body>
</html>
